body 
{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	border-width: 5px;
	background-color: yellow;
}
div
{
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-width: 5px;
	padding: 10px;
}
h1
{
	color: blue;
}
table
{
	color: #00ff00;
}
tr
{
	color: 	#00ff00;
}